.container {
  font-family: sans-serif;
  font-size: 25px;
  width: 100%;
  float: left;
  text-align: left;
}
.jumbotron {
  padding-left: 1px;
  margin-left: 1px;
  border: 1px;
  background-color: transparent;
  border-top-color: transparent;
  width: 100%;
  max-width: 100%;
}
.about {
  border: 10px;
  padding: 10px;
  margin: 5px;
  border-color: #eee;
  border-radius: 50px;
  float: left;
  background-color: #eee;
}
.exercises {
  border: 10px;
  padding: 10px;
  margin: 5px;
  border-color: #eee;
  border-radius: 50px;
  float: right;
  background-color: #eee;
}
